<h1>Questions</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <%= link_to 'Ask a question', new_question_path %>
  <% @question.each do |q| %>
  <tr>
    <td><%= q.title %></td>
    <td><%= link_to 'Show', question_path(q) %></td>
    <td><%= link_to 'Edit', edit_question_path(q) %></td>
    <td><%= link_to 'Destroy', question_path(q),
    method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
