<h1> New Question </h1>


<%= form_for :question, url: questions_path do |q| %>
<p>
  <%= q.label :title %><br>
  <%= q.text_field :title, :size=>"50", :placeholder => "Please enter at least 40 characters" %>
</p>

<p>
  <%= q.label :description %><br>
  <%= q.text_area :description, :size=>"36x25", :placeholder => "Please enter at least 150 characters" %>
</p>

<p>
  <%= q.submit %>
</p>
<% end %>

<%= link_to 'View all questions', controller: 'questions' %>
