<%= link_to 'Back to questions', controller: 'questions' %>
</br>
<%= flash[:message] %>


<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>description:</strong>
  <%= @question.description %>
</p>

<p>
  <strong>Messages:</strong>
<% @question.responses.each do |comment| %>
  <ul><%= comment.message %> </ul>
<% end %>
</p>
<%= render 'form2' %>

<%= link_to 'View all questions', questions_path %>
| <%= link_to 'Edit', edit_question_path(@question) %>
