<%= form_for [@question, @response] do |m| %>

<% if @question.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
  <ul><% @question.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<p>
  <%= m.label :message %><br>
  <%= m.text_area :message, :size=>"36x15", :placeholder => "Please enter your message" %>
</p>

<p>
  <%= m.submit "Submit" %>
</p>
<% end %>
